{% extends 'base.html.twig' %}

{% block title %}SystemeInformation{% endblock %}

{% block body %}
    <h1>SystemeInformation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ systeme_information.id }}</td>
            </tr>
            <tr>
                <th>UsualName</th>
                <td>{{ systeme_information.usualName }}</td>
            </tr>
            <tr>
                <th>SiiName</th>
                <td>{{ systeme_information.siiName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ systeme_information.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('systeme_information_index') }}">back to list</a>

    <a href="{{ path('systeme_information_edit', {'id': systeme_information.id}) }}">edit</a>

    {{ include('systeme_information/_delete_form.html.twig') }}
{% endblock %}
